// Color palette
$clr1: #051622; // main bg
$clr2: #001f33; // 2nd bg
$clr3: #869ba9; // text
$clr4: #DEB992; // titles
$clr5: #1bA098; // links

// Breaking points
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;